@tailwind base;
@tailwind components;
@tailwind utilities;

@layer themes {
  :root {
    --color-text-button-flat: #A855F7;
    --color-fill: 168, 85, 247; 
    --color-button-border: #A855F7;
    --color-button-flat-border: #C084FC;
    --color-outline: #A855F7;
  }

  .aqua {
    --color-text-button-flat: #579ADB;
    --color-fill: 87, 154, 219; 
    --color-button-border: #579ADB;
    --color-button-flat-border: #86b4e3;
    --color-outline: #579ADB;
  }

  .emerald {
    --color-text-button-flat: #209F91;
    --color-fill: 32, 159, 145; 
    --color-button-border: #209F91;
    --color-button-flat-border: #59BAAD;
    --color-outline: #209F91;
  }

  .coffee {
    --color-text-button-flat: #a25f47;
    --color-fill: 162, 95, 71; 
    --color-button-border: #a25f47;
    --color-button-flat-border: #BF785F;
    --color-outline: #a25f47;
  }

  .orange {
    --color-text-button-flat: #ffbb48;
    --color-fill: 255, 187, 72; 
    --color-button-border: #ffbb48;
    --color-button-flat-border: #FFCC66;
    --color-outline: #ffbb48;
  }

  .pink {
    --color-text-button-flat: #e396a0;
    --color-fill: 227, 150, 160 ; 
    --color-button-border: #e396a0;
    --color-button-flat-border: #E3ADB4;
    --color-outline: #e396a0;
  }
}

@layer modes {
  :root {
    --color-text-base: #121718;
    --color-text-secondary: #6b686a;
    --color-text-button: #fafafc;
    --color-card: #fafafc;
    --color-bg: #E5E5E5;
    --color-input: #d9d9d9;
  }

  .dark {
    --color-text-base: #e5e5e5;
    --color-text-secondary: #999999;
    --color-text-button: #f2f2f2;
    --color-card: #36393e;
    --color-bg: #282b30;
    --color-input: #424549;
  }
}