@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #121718;
    --color-text-secondary: #6b686a;
    --color-text-button: #fafafc;
    --color-text-button-flat: #A855F7;
    --color-fill: #A855F7; 
    --color-button-border: #A855F7;
    --color-button-flat: transparent;
    --color-button-flat-hover: #E9D5FF;
    --color-button-flat-border: #C084FC;
  }
}